# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================
docgenius/
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env
*.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# macOS / Windows
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Compiled Files
# =========================
*.so
*.o
*.out

# =========================
# Static Cache
# =========================
static/**/*.cache
static/**/*.map

# =========================
# Misc
# =========================
installed_packages.txt